.show-background {
  background-color: #F7F3F0;
}

.show-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
}

.bottle-show-section {
  background: white;
  width: 80%;
  margin-top: 30px;
  display: flex;
  box-shadow: 0px 10px 7px lightgrey;
  position: relative;
  max-width: 1220px;
  min-width: 900px;
}

.bottle-show-section > img {
  height: 400px;
  padding: 30px 0;
}

.bottle-show-details {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.bottle-show-details > h1 {
  font-size: 28px;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 20px;
}

.bottle-show-details > a {
  font-size: 22px;
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
}

.bottle-show-details > a:hover {
  text-decoration: underline;
}

.bottle-show-details > p {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 20px;
}

.bottle-show-details > span {
  font-size: 22px;
  margin-bottom: 18px;
  font-weight: bolder;
}

.show-bottle-edit-button {
  align-self: flex-end;
  margin-right: 50px;
  border: none;
  font-size: 12px;
  cursor: pointer;
}

.show-bottle-edit-button > a {
  color: #135470;
  text-decoration: none;
}

.show-bottle-edit-button > a:hover {
  text-decoration: underline;
}

.rating-show-background {
  padding: 30px;
  width: 80%;
}

.rating-show-section {
  display: flex;
  background: white;
  width: 80%;
  box-shadow: 0px 10px 7px lightgrey;
  position: relative;
  max-width: 1220px;
  min-width: 900px;
}

.rating-show-section > h1 {
  font-size: 22px;
  width: 25%;
  font-weight: bolder;
  font-family: 'Ubuntu', sans-serif;
  padding: 40px 0 0 40px;
}

.bottle-show-rating {
  display: flex;
  padding: 30px;
}

.bottle-show-rating-user {
  display: flex;
  max-width: 20%;
}

.bottle-show-rating-user > img {
  height: 40px;
  width: 40px;
  margin-right: 5px;
}

.bottle-show-rating-user > figcaption {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.bottle-show-rating-user > figcaption > h5 {
  color: darkgray;
  font-size: 11px;
  margin: 3px 0;
}

.bottle-show-rating-user > figcaption > h2 {
  font-weight: 700;
}

.bottle-show-rating-detail {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 80%;
  margin-left: 60px;
}

button.rating-edit {
  align-self: flex-end;
  border: none;
  color: #c69312;
  font-size: 11px;
  padding: 10px;
  cursor: pointer;
}

button.rating-edit:hover {
  text-decoration: underline;
}
