/* .bottle-modal-window {
  position: fixed;
  height: 700px;
  width: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  padding: 30px;
}

.bottle-form {
  display: flex;
  flex-direction: column;
}

.bottle-form > h1 {
  font-family: 'Ubuntu', sans-serif;
  color: #135470;
  align-self: center;
  font-size: 34px;
}


.bottle-form > div {
  display: flex;
  align-items: baseline;
}

.bottle-form > div > label {
  font-size: 18px;
  font-weight: bolder;
  margin: 12px 5px 5px 0;
}

.optional {
  color: darkgray;
}

.required {
  color: #dc540d;
}

.bottle-form > input {
  height: 40px;
  border-radius: 3px;
  border: 1px solid lightgray;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: lighter;
  padding: 10px;
  margin-top: 5px;
}

.bottle-form > select {
  background: transparent;
  font-size: 18px;
  border: 1px solid lightgray;
  height: 40px;
}

.bottle-form > select > option {
  background: white;
  box-shadow: 3px 3px 4px 0px lightgrey;
  font-size: 18px;
  font-weight: lighter;
  padding: 15px;
}

.bottle-form > select > option:hover {
  border-bottom: 1px solid lightgrey;
  display: block;
}

.bottle-form > select > option:hover {
  background: whitesmoke;
}

.bottle-form > textarea {
  font-size: 18px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid lightgray;
}

.submit {
  margin-top: 50px;
  width: 292px;
  align-self: center;
  border-radius: 25px;
  background: #EDC358;
  color: #135470;
  height: 40px;
  font-size: 16px
}

.submit:hover {
  background: #D7A831;
} */