.bottle-index-container {
    display: flex;
    margin: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.bottle-card-vert {
    background: #F2F0ED;
    border: 1px solid darkgray;
    margin: 25px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}