.loading {
  font-size: 30px;
  margin: 150px;
  color: #135470;
  text-align: center;
}

.loading-small {
  font-size: 12px;
  margin: 15px;
  color: #135470;
  text-align: center;
}

.cancel-icon {
  height: 25px;
  width: 25px;
  padding: 5px;
  cursor: pointer;
}

*:focus {
  outline: none;
}