.modal-background {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}

.modal-window {
  position: fixed;
  height: 70%;
  width: 40%;
  left: 30%;
  top: 15%;
}

.session-window {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form > form {
    width: 250px;
}