#search-input {
  padding: 10px 10px 10px 50px;
  border: 1px solid lightgray;
  border-radius: 25px;
  height: 40px;
  margin-left: 15px;
  width: 300px;
  min-width: 160px;
  font-size: 16px;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
}

.fa-search {
  color: #c9c8c8;
  left: 278px;
  top: 26px;
  position: absolute;
}

#search-results {
  position: absolute;
  z-index: 100;
}

.search-result {
  background: white;
  position: relative;
  left: 68px;
  width: 220px;
  padding: 13px;
  box-shadow: 0px 5px 7px #bebdbd;
  color: black;
  font-weight: bold;
}